/* Congfigure the menu row & flex display */
nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
nav a {
/* Customize layout/display */
  display: inline-block;
  padding: 10px 16px;
  border: 3px solid #7CFC00;
  text-decoration: none;
  color: #fff;
  background-color: #483D8D;
}
/* Hover requirement */
nav a:hover {
  background-color: #7B68EE;
}

/* Center menu row on page */
/* main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
} */